@{
    ViewBag.Title = "درباره ما";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@


<div class="container body-content">
    <section class="section clearfix">
        <div class="inner">
            <div class="liny clearfix">
                <h1>درباره ما</h1>
                <p class="description">شرکتی دانش‌محور، جوان، خلاق،‌ در مسیر رشد و شکوفایی</p>
            </div>


            <div class="overview small">
                <div class="clearfixcol col-lg-12 col-sm-9 " style="margin-bottom:30px;">
                    <img src="~/images/4.jpg" alt="تیم دیجی مووی">
                </div>

                <div class="right" style="font-size:20px; justify-content:flex-end;">
                    <p>در اولین روزهای سال ۸۹ برای شرکت خود، ضرورتی را تحت عنوان تبلیغات در فضای اینترنت احساس کردیم؛ ولی تقریبا هیچ بستر مناسبی وجود نداشت و یا اگر بستری مناسب موجود بود، باید تعامل جداگانه‌ای با تک تک مدیران وب‌سایت‌ها اتفاق می‌افتاد. در نتیجه به این فکر افتادیم که برای اولین بار در ایران، سرویسی را  به منظور مدیریت تبلیغات، میان سایت‌های خودمان ایجاد کنیم.</p>
                    <p>در ابتدا دسترسی عمومی به این سرویس امکان‌پذیر نبود اما بعد از مدتی، برخی از دوستان و شرکت‌های همکار تمایل پیدا کردند تا از این بستر برای نمایش تبلیغات‌شان استفاده کنند. بدین‌ ترتیب در اواخر سال ۸۹، شروع فعالیت ما با تبلیغات یک سایت نیازمندی بود. در ابتدای مسیر موفقیت‌آمیز ای‌نتورک، نمایش روزانه بنرها به چیزی حدود ۲۰ تا ۳۰ هزار نمایش در روز می‌رسید.</p>
                    <p>و اما امروز، در سال ۹۵، ما شاهد گسترش تیم ۴ نفره‌ی خود به بیش از ۵۴ نفرهستیم و در ۵ سال گذشته، به صورت موفقیت‌آمیزی توانستیم جامعه‌ای شامل ۳۵۰۰ مشتری را مدیریت کنیم. همچنین با نمایش تبلیغات در ۱۵,۰۰۰+ وب‌سایت، موفق به دریافت ۹۰ میلیون کلیک شدیم.</p>
                    <p>در این راستا یکی از موفقیت‌های چشمگیر تیم سخت‌کوش و خلاق ما، گذشتن از ۵۰ میلیارد نمایش بنر بود که در اردیبهشت‌ماه ۹۵ اتفاق افتاد. همچنین در کنار سرویس موفق تبلیغات کلیکی، به تازگی به یک آژانس بازاریابی دیجیتال گسترش یافته‌ایم تا بتوانیم گستردگی و کیفیت خدماتمان را افزایش دهیم.</p>
                </div>
            </div>
        </div>
    </section>

    <hr />

    <section class="clearfix">
        <div class="inner">
            <div class="liny clearfix">
                <h3>تیم MVC شرکت DigiMovie</h3>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/images3.jpg" alt="milad Aryan" class="img-circle">
                    <p class="text-center rotate">آقا</p>
                    <p>ASP.NET MVC gives you a powerful</p>
                </div>
                <div class="col-md-3">
                    <img src="~/images/images1.jpg" alt="ms" class="img-circle">
                    <p class="text-center rotate">خانم</p>
                    <p>ASP.NET MVC gives you a powerful</p>
                </div>
                <div class="col-md-3">
                    <img src="~/images/images3.jpg" alt="milad Aryan" class="img-circle">
                    <p class="text-center rotate">آقا</p>
                    <p>ASP.NET MVC gives you a powerful</p>
                </div>
                <div class="col-md-3">
                    <img src="~/images/images1.jpg" alt="ms" class="img-circle">
                    <p class="text-center rotate">خانم</p>
                    <p>ASP.NET MVC gives you a powerful</p>
                </div>
            </div>

        </div>
    </section>
    </div>
