@{
    ViewBag.Title = "صفحه اصلی";
}



    <div class="col col-lg-12">
            <div class="row">
        <div class="carousel" id="mycarousel" >
            <section class="carousel-inner">
                <div class="item active" >
                    <img src="~/images/1.jpg" alt="Alternate Text" style=" width:100%;"/>
                </div>
                <div class="item">
                    <img src="~/images/2.jpg" alt="Alternate Text" style="width:100%;" />
                </div>
                <div class="item">
                    <img src="~/images/3.jpg" alt="Alternate Text" style="width:100%;" />
                </div>
                <div class="item">
                    <img src="~/images/4.jpg" alt="Alternate Text" style="width:100%;" />
                </div>
            </section>

                @*<a href="#mycarousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a href="#mycarousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>*@

           <ol class="carousel-indicators">
                <li data-target="mycarousel" data-slide-to="0" class="dot"></li>
                <li data-target="mycarousel" data-slide-to="1" class="dot"></li>
                <li data-target="mycarousel" data-slide-to="2" class="dot"></li>
                <li data-target="mycarousel" data-slide-to="3" class="dot"></li>
            </ol>
        </div>
    </div>
</div>
<div class="container body-content">

    @*<div class="row" style="background-color:chartreuse;">
            <section class="col col-lg-8">
                <form class="form-horizontal right" action="#" method="post">

                    <section class="row">
                        <label class="col col-lg-4 control-label" for="myname">نام فیلم</label>
                        <div >
                            <input type="text" name="myname" class="col col-lg-4" id="myname" placeholder="نام فیلم را وارد کنید . . ." autocomplete="off" />
                            <a href="https://asp.net" class="btn btn-primary btn-lg col col-lg-4">جستجو</a>
                        </div>
                    </section>
                </form>
            </section>
        </div>*@



    @*<div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">دسته بندی فیلم ها</h1>
        </div>
    </div>

    <section class="row" style="margin-bottom:20px;">
        <div class="col-lg-12">
            <ul class="nav nav-pills navbar-right">
                <li class="active navbar-right"><a href="#all" data-toggle="pill">همه</a></li>
                <li class="navbar-right"><a href="#deram" data-toggle="pill">درام</a></li>
                <li class="navbar-right"><a href="#action" data-toggle="pill">اکشن</a></li>
                <li class="navbar-right"> <a href="#tanz" data-toggle="pill">طنز</a></li>
                <li class="navbar-right"><a href="#tars" data-toggle="pill">ترسناک</a></li>
                <li class="navbar-right"><a href="#tarihk" data-toggle="pill">تاریخی</a></li>
                <li class="navbar-right"><a href="#love" data-toggle="pill">عاشقانه</a></li>
                <li class="navbar-right"><a href="#takhauli" data-toggle="pill">تخیلی</a></li>
                <li class="navbar-right"><a href="#animation" data-toggle="pill">انیمیشن</a></li>
                <li class="navbar-right"><a href="#mostanad" data-toggle="pill">مستند</a></li>
            </ul>
        </div>
    </section>



    <div class="container">
        <div class="tab-content">
            <div id="all" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Armed-Response-2017.jpg" alt="a" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Message-from-the-King-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/prisoners1.jpg" alt="" /> </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Viceroys-House-2017.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The.Invisible.Guardian.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/the-wall-58e02afa3b35b.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The-Other-Side-of-Hope-2017.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The-Exception-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>
            </div>
            <div id="deram" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Armed-Response-2017.jpg" alt="a" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Message-from-the-King-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/prisoners1.jpg" alt="" /> </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Viceroys-House-2017.jpg" alt="" /></a>
                    </div>

                </div>
            </div>
            <div id="action" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The-Other-Side-of-Hope-2017.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The-Exception-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>

            </div>
            <div id="tanz" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Armed-Response-2017.jpg" alt="a" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Message-from-the-King-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/prisoners1.jpg" alt="" /> </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>
            </div>
            <div id="tars" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Armed-Response-2017.jpg" alt="a" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>

            </div>
            <div id="tarihk" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Armed-Response-2017.jpg" alt="a" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Message-from-the-King-2016.jpg" alt="" /></a>
                    </div>
                </div>

            </div>
            <div id="love" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Armed-Response-2017.jpg" alt="a" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Message-from-the-King-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/prisoners1.jpg" alt="" /> </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Viceroys-House-2017.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>

            </div>
            <div id="takhauli" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/the-wall-58e02afa3b35b.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The-Other-Side-of-Hope-2017.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The-Exception-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>
            </div>
            <div id="animation" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/Armed-Response-2017.jpg" alt="a" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/The-Exception-2016.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /></a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>

            </div>
            <div id="mostanad" class="tab-pane fade">
                <div class="row slideanim">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" href="#"><img src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" /> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix modalphoto">
        <img class="m" src="~/images/pc03N6C1TeNcKcvngrrsb9Q2FFO.jpg" alt="" />
    </div>

    <section id="modal" class="modal fade">
        <div class="modal-body">
            <img id="=modalimage" src="" alt="Alternate Text" />
        </div>
    </section>

    </div>



    <script src="~/Scripts/jquery(1.12.4).min.js"></script>
    <script>

        $(".modalphoto img").click(function () {
            $("#modal").modal('show');
            var mysrc = $(this).attr('src');
            //$("#modalimage").attr("src", mysrc);
            //$("#modalimage").click( function () {
            //    $('#modal').modal('hide');
            //})
        });

        $(window).click(function () {
            $(".slideanim").each(function () {
                var pos = $(this).offset().top;

                var winTop = $(window).scrollTop();
                if (pos < winTop + 600) {
                    $(this).addClass("slide");
                }
            });
        });
        var slideIndex = 0;
        showSlides();
        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("item");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 3000); // Change image every 3 seconds
        }
    </script>
